/* Template structure */
@font-face {
 font-family: EDPPreonMedium;
 src: url(fonts/EDPPreonMedium.otf);
}
.lbl2 {
	margin-left: 5px;
  	cursor: pointer;
  	font-weight:normal;
}
.lbl3 {
  	margin-left: 5px;
  	cursor: default;
  	font-weight:normal;
}
.lbl4 {
	font-size:.8em;
  	cursor: default;
  	font-weight:normal;
}

#popupDiv-back {
	    position   : absolute;
	    top        : 0;
	    left       : 0;
	    width      : 100%;
	    height     : 100%;
	    background : #000;
	    opacity    : 0.6;
	    filter     : alpha(opacity=60);
	    z-index    : 5;
	    display    : none;
	}

	#popupDiv{
		position:absolute;
	    width:200px;
	    height:150px;
	    top: 50%;
	    left: 50%;
	    margin-left: -100px;
	    margin-top: -75px; 
		z-index:999;
		background-color: #f6f4f4;
		opacity:0.95;
		border-radius:10px;
		box-shadow: 0 0 2px black;
		display:none;
	}

/* Using this one when the screen has height ~ 480 and the user opens the keyboard */
@media (min-height: 280px){ 
	
}
/* Using this one when the screen has height ~ 480 */
@media (min-height: 480px){

	.options{
		position: relative;
		top:2px;
		width: 100%;
		height: 400px;
	}
	.balance{
		position: relative;
		top: 30px;
		width: 100%;
		height: 93px;
		font-family: EDPPreonMedium,sans-serif;
	}
	.footer2{
		width:102px;
		position: absolute;
		bottom: 10px;
		left: 0;
		right: 0;
		margin: auto;
	}
}
/* Using this one when the screen has height ~ 640 like Samsung S5 */
@media (min-height: 640px) {

	.options{
		position: relative;
		top:25px;
		width: 100%;
		height: 400px;
	}
	.balance{
		position: relative;
		top: 40px;
		width: 100%;
		height: 93px;
		font-family: EDPPreonMedium,sans-serif;
	}
	.footer2{
		width:102px;
		position: absolute;
		bottom: 10px;
		left: 0;
		right: 0;
		margin: auto;
	}
}
/* Larger than mobile - USING THIS ONE!!*/
@media (min-width: 320px) {
	body{
		background-color:#f6f4f4;
		padding:0;
		border:0;
	}

	.top-bar{
		width: 100%;
		height: 36px;
		float: left;
		margin-top: 10px;
	}

	.settings{
		float: left;
		margin: 5px;
	}

	.title{
		float: left;
		width: 65%;
		text-align: center;
		font-family: EDPPreonMedium,sans-serif;
		color: #d52b1e;
		font-size: 17.5px;
		margin-top:10px;
	}

	.buttons{
		float: right;
		margin: 5px;
	}


	a.list-group-item, button{
		font-family: EDPPreonMedium,sans-serif;
	}
	

	div.panel-body{
		height: 45px;
    	line-height: 15px;
    	color: #d52b1e;
	}

	.help{
		float: left;
		margin-right: 15px;
		margin-left: 5px;
	}

	#log-out{
		float: right;
		margin-right: 5px;
		margin-left: 20px;
		margin-top: -8px;
	}
}

@media (min-width: 360px) {

	.title{
		float: left;
		width: 68%;
		text-align: center;
		padding-left: 0.1%;
		margin-left:-2px;
		font-family: EDPPreonMedium,sans-serif;
		color: #d52b1e;
		font-size: 19.5px;
	}
}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}