/* Template structure */
@font-face {
 	font-family: EDPPreonMedium;
 	src: url(fonts/EDPPreonMedium.otf);
}

@media (min-width: 320px) {
	body{
		background-color:#f6f4f4;
		padding:0;
		border:0;
	}
	
	span.lettering-tittle{
		font-family: EDPPreonMedium,sans-serif;
		color: #d52b1e;
	}
	
	a.edpHist{
		font-size: 180%;
		text-decoration: none;
	}
	div.edpHistory{
		width:85px;
		margin:0 auto;
		margin-top:20px;
		text-align: center; 
	}
	div.home{
		width:-1px;
		margin:20 auto;
		margin-top:-30px;
		text-align: right; 
	}
	div.back{
		width:320px;
		margin:0 auto;
		margin-top:-50px;
		text-align: left; 
	}
	
	div.headingText{
		float:left;
		font-family: EDPPreonMedium,sans-serif;
		color: #333;
		-webkit-font-smoothing: antialiased;
		position: relative;
		font-size:120%;
		margin-top:-10px;
		opacity:0.8;
	}	
	p.description{
		font-family: EDPPreonMedium,sans-serif;
		text-transform: lowercase;
		color: #333;
		-webkit-font-smoothing: antialiased;
		position: relative;
		font-size:100%;
		left: 1em;
		top: -0.6em;
	}	
	div.sold{
		width:250px;
		margin:0 auto;
		margin-top:20px;
	}
	div.bought{
		width:250px;
		margin:0 auto;
		margin-top:50px;
	}
	div.more{
		width:150px;
	}
	
	div.transaction{
		width:150px;
		margin:0 auto;
		margin-top:5px;
	}
	
	
	div.stroke{
		float:left;
		width:90px;
		height:1px;
		margin-top:5px;
		background-color:#333;
		opacity:0.5;
	}
	div.separator{
		float:left;
		width:10px;
		height:1px;
		margin-top:5px;
	}
	
}