@font-face {
 font-family: EDPPreonMedium;
 src: url(fonts/EDPPreonMedium.otf);
}
.lbl2 {
	margin-left: 5px;
  	cursor: pointer;
  	font-weight:normal;
}
.lbl3 {
  	margin-left: 5px;
  	cursor: default;
  	font-weight:normal;
}
.lbl4 {
	font-size:.8em;
  	cursor: default;
  	font-weight:normal;
}

@media (min-height: 480px){
	.footer2{
		width:102px;
		position: absolute;
		bottom: 10px;
		left: 0;
		right: 0;
		margin: auto;
	}
	div.boughtBox{
		width:250px;
		margin:0 auto;
		margin-top:0px;
		margin-left:50px;
	}
}
/* Using this one when the screen has height ~ 640 like Samsung S5 */
@media (min-height: 640px) {
	.footer2{
		width:102px;
		position: absolute;
		bottom: 10px;
		left: 0;
		right: 0;
		margin: auto;

	}
	div.boughtBox{
		width:250px;
		margin:0 auto;
		margin-top:150px;
		margin-left:50px;
	}
}


@media (min-width: 320px) {
	body{
		background-color:#f6f4f4;
		padding:0;
		border:0;
	}
	
	span.lettering-tittle{
		font-family: EDPPreonMedium,sans-serif;
		color: #d52b1e;
	}
	.top-bar{
		width: 100%;
		height: 36px;
		float: left;
		margin-top: 10px;
	}

	.settings{
		float: left;
		margin: 5px;
	}

	.title{
		float: left;
		width: 60%;
		text-align: center;
		margin: 5px;
		padding-left: 5%;
		font-family: EDPPreonMedium,sans-serif;
		color: #d52b1e;
		font-size: 23px;
	}

	.buttons{
		float: right;
		margin: 5px;
	}
	div.pricesBox{
		width:250px;
		margin:0 auto;
		margin-top:0px;
		margin-left:50px;
	}
	div.changeBox{
		width:250px;
		margin:0 auto;
		margin-top:80px;
		margin-left:-5px;
	}
	p.description{
		font-family: EDPPreonMedium,sans-serif;
		color: #333;
		-webkit-font-smoothing: antialiased;
		position: relative;
		font-size:170%;
		top: -0.6em;
		text-align:center;
	}
	label.description{
		font-family: EDPPreonMedium,sans-serif;
		color: #333;
		-webkit-font-smoothing: antialiased;
		position: relative;
		font-size:170%;
		top: -0.6em;
		font-weight: normal !important;
	} 
	div.confirm{
		margin:0 auto;
		margin-top:5px;
		width:150px;
		position:relative;
		left:-10px;
	}
	p.average{
		font-family: EDPPreonMedium,sans-serif;
		color: #333;
		-webkit-font-smoothing: antialiased;
		position: relative;
		left:-10%;
		font-size:130%;
		top: 50px;
		white-space: nowrap;
	}
	a.list-group-item, button{
		font-family: EDPPreonMedium,sans-serif;
	}
}

@media (min-width: 360px) {
.title{
		float: left;
		text-align: center;
		margin: 5px;
		margin-left: 0px;
		font-family: EDPPreonMedium,sans-serif;
		color: #d52b1e;
		font-size: 23px;
		white-space: nowrap;
	}
	div.home{
		float: right;
		margin: 5px;
		position:relative; 
		right:-10px;
	}
	div.changeBox{
		width:250px;
		margin:0 auto;
		margin-left:15px;
		margin-top:80px;
	}
	p.average{
		font-family: EDPPreonMedium,sans-serif;
		color: #333;
		-webkit-font-smoothing: antialiased;
		position: relative;
		font-size:130%;
		left: 0%;
		top: 50px;
		white-space: nowrap;
	}
	div.confirm{
		margin:0 auto;
		margin-top:5px;
		position:relative;
		left:10px;
		width:150px;
	}
}