/* Template structure */
@font-face {
 	font-family: EDPPreonMedium;
 	src: url(fonts/EDPPreonMedium.otf);
}

@media (min-width: 320px) {
	body{
		background-color:#f6f4f4;
		padding:0;
		border:0;
	}
	
	span.lettering-tittle{
		font-family: EDPPreonMedium,sans-serif;
		color: #d52b1e;
	}
	div.topBar{
		width: 100%;
		height: 36px;
		float: left;
		margin-top: 10px;
	}.title{
		float: left;
		width: 60%;
		text-align: center;
		margin: 5px;
		padding-left: 0%;
		font-family: EDPPreonMedium,sans-serif;
		color: #d52b1e;
		font-size: 23px;
		white-space: nowrap;
	}
	div.home{
		float: right;
		margin: 5px;
	}
	div.back{
		float: left;
		margin: 5px;
	}
	a.edpPrices{
		font-size: 180%;
		text-decoration: none;
	}
	div.edpTittle{
		width:85px;
		margin: 0 30;
		margin-top:20px;
		text-align: center; 
		white-space: nowrap;
	}		
	div.pricesBox{
		width:250px;
		margin:0 auto;
		margin-top:0px;
		margin-left:50px;
	}
	div.changeBox{
		width:250px;
		margin:0 auto;
		margin-top:80px;
		margin-left:-10px;
	}
	p.description{
		font-family: EDPPreonMedium,sans-serif;
		color: #333;
		-webkit-font-smoothing: antialiased;
		position: relative;
		font-size:170%;
		left: 1em;
		top: -0.6em;
	}
	label.description{
		font-family: EDPPreonMedium,sans-serif;
		color: #333;
		-webkit-font-smoothing: antialiased;
		position: relative;
		font-size:170%;
		left: 1em;
		top: -0.6em;
		font-weight: normal !important;
	} 
	div.confirm{
		width:150px;
		margin:0 auto;
		margin-top:5px;
	}
	p.average{
		font-family: EDPPreonMedium,sans-serif;
		color: #333;
		-webkit-font-smoothing: antialiased;
		position: relative;
		font-size:130%;
		left: 1em;
		top: -0.6em;
		white-space: nowrap;
	}
	a.list-group-item, button{
		font-family: EDPPreonMedium,sans-serif;
	}
}