/* Template structure */
@font-face {
 font-family: EDPPreonMedium;
 src: url(fonts/EDPPreonMedium.otf);
}
.lbl2 {
	margin-left: 5px;
  	cursor: pointer;
  	font-weight:normal;
}
.lbl3 {
  	margin-left: 5px;
  	cursor: default;
  	font-weight:normal;
}
.lbl4 {
	font-size:.8em;
  	cursor: default;
  	font-weight:normal;
}
 .bar{
    fill: #c9302c;
  }

  .bar:hover{
    fill: #333;
  }

	.axis {
	  font: 10px sans-serif;
	}

	.axis path,
	.axis line {
	  fill: none;
	  stroke: #000;
	  shape-rendering: crispEdges;
	}
  th {
     position: relative;
     padding: 5px 63px;
     text-align: left;
   }
   td {
     position: relative;
     padding: 3px 3px;
     text-align: left;
   }
/* Using this one when the screen has height ~ 480 and the user opens the keyboard */
@media (min-height: 280px){

}
/* Using this one when the screen has height ~ 480 */
@media (min-height: 480px){

}
/* Using this one when the screen has height ~ 640 like Samsung S5 */
@media (min-height: 640px) {

}
/* Larger than mobile - USING THIS ONE!!*/
@media (min-width: 320px) {
	body{
		background-color:#f6f4f4;
		padding:0;
		border:0;
	}

	.top-bar{
		width: 100%;
		height: 36px;
		margin-top: 10px;
	}

	.settings{
		float: left;
		margin: 5px;
	}

	.title{
		float: left;
		width: 20%;
		text-align: center;
		margin: 5px;
		padding-left: 14%;
		font-family: EDPPreonMedium,sans-serif;
		color: #d52b1e;
		font-size: 23px;
	}
.nav-pills > li.active > a, .nav-pills > li.active > a:active {
        color: white;
        background-color: #c9302c;
    }
    .nav-pills > li > a{
    	height:30px;
    	color:#333;
    }
	.buttons{
		float: right;
		margin: 5px;
	}

	div.headingBox{
		width:175px;
		margin:0 auto;
		margin-top:10px;
	}
	div.stroke{
		float:left;
		width:40px;
		height:1px;
		margin-top:5px;
		background-color:#333;
		opacity:0.5;
	}
	div.separator{
		float:left;
		width:10px;
		height:1px;
		margin-top:5px;
	}
	div.text{
		float:left;
		font-family: EDPPreonMedium,sans-serif;
		color: #333;
		-webkit-font-smoothing: antialiased;
		position: relative;
		font-size:90%;
		margin-top:-5px;
		opacity:0.8;
	}
	div.headingBoxMonth{
		width:50px;
		margin:0 auto;
		margin-top:20px;
	}

	.options{
		position: absolute;
		top:105px;
		width: 100%;
		height: 400px;
	}

	a.list-group-item, button{
		font-family: EDPPreonMedium,sans-serif;
	}

	.balance{
		position: absolute;
		top: 490px;
		width: 100%;
		height: 93px;
		font-family: EDPPreonMedium,sans-serif;
	}

	div.panel-body{
		height: 45px;
    	line-height: 15px;
    	color: #d52b1e;
	}
  #tablediv{
		width:300px;
		margin:0 auto;
    left: 0px;
    right: 0px;
		position:relative;
		top:30px;
	}
	.footer2{
		width:102px;
		position: relative;
		bottom: 10px;
		left: 0;
		right: 0;
		margin: auto;
	}

	.help{
		float: left;
		margin-right: 15px;
		margin-left: 5px;
	}

	#log-out{
		float: right;
		margin-right: 5px;
		margin-left: 20px;
		margin-top: -5px;
	}

	div.otherBox{
		width:203px;
		margin:0 auto;
	}
	div.otherBox2{
		position:relative;
		top:15px;
		width:156px;
		margin:0 auto;
	}

  body { font: 12px Arial;}




/* Larger than phablet */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
