/* Template structure */
body{
	background-color:#fff;
	padding:0;
	border:0;
}

h1 { 
   font-size: 18pt;
   font-family: Verdana;
}


/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}